@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');


:root {
  --color-dark: #131313;
  --color-lighter-dark: #1b2431;
  --color-light: #e1e5ea;
  --color-red: #ca525e;
  --color-darker-red: #a4313d;

  --body-bg: var(--color-dark);
  --button-hover-color: var(--color-red);
  --button-shadow: var(--color-light);
  --color-primary: var(--color-red);
  --datalist-label-color: var(--color-light);
  --datalist-value-color: var(--color-light);
  --form-input-border-color: var(--color-light);
  --form-input-hover-border-color: var(--color-red);
  --form-input-hover-shadow: var(--color-red);
  --form-input-shadow: var(--color-light);
  --form-label-color: var(--color-light);
  --link-color: var(--color-red);
  --pagination-color: var(--color-light);
  --resize-handler-hover-bg: var(--color-red);
  --responsive-header-bg: var(--color-dark);
  --responsive-header-logo-color: var(--color-light);
  --sidebar-bg: var(--color-dark);
  --sidebar-logo-color: var(--color-light);
  --sidebar-menu-color: var(--color-light);
  --sidebar-menu-icon-color: var(--color-light);
  --table-cell-color: var(--color-light);
  --table-hover-cell-bg: var(--color-light);
  --table-thead-color: var(--color-light);
  --table-thead-sorted-color: var(--color-light);
  --table-thead-marker-color: var(--color-light);
  --text-color: var(--color-light);
  --text-color-dark: var(--color-dark);
  --text-on-primary: var(--color-light);
  --user-name-color: var(--color-light);
}

body {
  font-family: 'Baloo 2', cursive;
}

.h1 {
  color: var(--color-light) !important;
}

.text-large {
  font-size: 140%;
  font-weight: 900;
}

/* EasyAdmin */
.btn-secondary,
.btn-secondary.disabled,
.btn-secondary[disabled] {
  background-color: var(--color-light);
}

.content-top .content-search .content-search-icon,
.page-item.disabled .page-link {
  color: var(--color-light);
}

.datagrid .ea-lightbox-thumbnail img,
.basicLightbox__placeholder img {
  background: var(--color-light);
}

.ea-fileupload .input-group .btn {
  color: var(--color-dark);
}

.form-check-input:checked {
  background-color: var(--color-red);
}

.form-switch .form-check-input:checked {
  border-color: var(--color-light);
}

.form-control {
  background-color: var(--color-light);
  border: 1px solid var(--color-light);
  color: var(--color-dark);
}

.form-control:focus {
  background-color: var(--color-light);
  border-color: var(--color-light);
  color: var(--color-dark);
}

.page-item.active .page-link {
  background-color: var(--color-darker-red);
  border-color: var(--color-darker-red);
  color: var(--color-light);
}

tr:hover {
  color: var(--color-dark);
}

/* ApexCharts */
#area,
#donut {
  max-width: 600px;
  margin: 0 auto;
}

.apexcharts-menu,
.apexcharts-tooltip-title {
  background: var(--color-light);
  color: var(--color-dark);
}

/* Scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark) var(--color-lighter-dark);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-lighter-dark);
  border-radius: 7px;
}