{
	{$DEBUG:debug}
	servers {
			protocol {
					experimental_http3
			}
	}
	local_certs
}

{$SERVER_NAME:https://127.0.0.1:3000}

log
route {
	redir / /.well-known/mercure/ui/
	encode zstd gzip
	mercure {
			transport_url {$MERCURE_TRANSPORT_URL:bolt://mercure.db}
			publisher_jwt {env.MERCURE_JWT_KEY}
			subscriber_jwt {env.MERCURE_JWT_KEY}
			cors_origins https://127.0.0.1:3000 https://127.0.0.1:8000
			{$MERCURE_EXTRA_DIRECTIVES}
	}
	respond /healthz 200
	respond "Not Found" 404
}