{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}

	{# ApexCharts #}
	<div class="container">
		<div class="h1 text-center pb-5">
			You have
			<span class="text-large">{{ themes }}</span>
			themes and
			<span class="text-large">{{ comments }}</span>
			participations.
		</div>
		<div class="row mt-5">
			<div id="donut" class="col-lg"></div>
			<div id="area" class="col-lg"></div>
		</div>
	</div>
	<script>
		const themesCounts = {{ themesCounts|json_encode|raw }};
		const commentLast30Days = {{ commentLast30Days|json_encode|raw }};
	</script>

{% endblock %}
