{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}
	<div class="numbers">
		You have
		<span class="bold">{{ themes }}</span>
		themes and
		<span class="bold">{{ comments }}</span>
		participations.
	</div>
	<div id="chart"></div>
	<div id="donut"></div>
	<script>
		const commentLast30Days = {{ commentLast30Days|json_encode|raw }};
		const themesCounts = {{ themesCounts|json_encode|raw }};
	</script>
{% endblock %}
