@import './variables';
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");


/* Layout */
.headline {
  position: relative;
  color: $white;
  text-shadow: 0 0 0.5em $neonlight, 0 0 0.2em $white;
  border-top: 0.4rem solid $neonred;
  border-right: 0.4rem solid $neongreen;
  border-bottom: 0.4rem solid $neonblue;
  border-radius: 0 1rem 1rem 0;
  margin-bottom: 0;
  padding: 0.8em 0em;
  text-transform: uppercase;

  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    background-color: $neonred;
    top: -0.70rem;
    left: -0.25rem;
  }
}

.subhead {
  position: relative;
  margin-bottom: 1em;
  text-shadow: none;
  color: $light;
  padding: 0.8em;
  border-left: 0.4rem solid $neonmagenta;
  font-size: 1.6rem;
  font-style: italic;

  &::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    background-color: $neonmagenta;
    bottom: -0.35rem;
    left: -0.67rem;
  }
}

.article-tags {
  margin-top: 2em;
  padding: 0;

  span {
    padding: 0.5em 1em;
    font-weight: $font-weight-bold;
    background-color: $symfony;
    border-radius: 0.8em;
  }
}

figure {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;

  .neon-img {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-width: 900px;
    border-radius: 0 0.5em 0.5em 0;
    box-shadow: -0.4em 0.4em 0 $neonred;
  }

  figcaption {
    position: absolute;
    padding: 0.4em;
    font-size: 0.8rem;
    color: $light;
    font-weight: bold;
    background-color: $neonred;
    border-radius: 0.5em;
    bottom: -1em;

    a {
      display: block;
    }

    a:hover {
      color: $light !important;
    }
  }
}

aside {
  position: relative;
  font-style: italic;
  color: $light;
  margin: 1.5em 0;
  padding-left: 1em;
  border-left: 0.6rem solid $neonred;
  text-align: left;

  &::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    background-color: $neonred;
    top: -0.7rem;
    left: -1.05rem;
  }

  &::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    background-color: $neonred;
    bottom: -0.7em;
    left: -1.05em;
  }
}

/* Comment form */
.comment-form {
  max-width: 320px;

  .box-form {
    background-color: $symfony !important;
    border: 1px solid $light !important;
    box-shadow: 0 4px 8px 0 $light !important;

    input,
    label {
      color: $text-muted;
    }
  }

  input,
  textarea {
    margin-bottom: 8px;
  }
}