@import './variables';


/* Neon effects */
.headline {
  position: relative;
  color: $white;
  text-shadow: 0 0 0.5em $neonlight, 0 0 0.2em $white;
  border-top: 0.4rem solid $neonred;
  border-right: 0.4rem solid $neongreen;
  border-bottom: 0.4rem solid $neonblue;
  border-radius: 0 1rem 1rem 0;
  margin-bottom: 0;
  padding: 0.8em 0em;
  text-transform: uppercase;

  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    background-color: $neonred;
    top: -0.70rem;
    left: -0.25rem;
  }
}

.subhead {
  position: relative;
  margin-bottom: 1em;
  text-shadow: none;
  color: $light;
  padding: 0.8em;
  border-left: 0.4rem solid $neonmagenta;
  font-size: 1.6rem;
  font-style: italic;

  &::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    background-color: $neonmagenta;
    bottom: -0.35rem;
    left: -0.67rem;
  }
}

figure {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;

  .neon-img {
    object-fit: contain;
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 0 0.5em 0.5em 0;
    box-shadow: -0.5em 0.5em 0 $neonred;
  }

  figcaption {
    position: absolute;
    font-family: "Open Sans", sans-serif;
    padding: 0.4em;
    font-size: 0.8rem;
    color: $light;
    font-weight: bold;
    background-color: $neonred;
    border-radius: 0.5em;
    bottom: -1em;
  }
}

/* Layout */
hr {
  height: 6px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
}

hr:last-child {
  margin-right: 60%;
}

.page {
  line-height: 1.15;
  color: $text-muted;
  padding: 2em;
  background: $background;
  max-width: 1100px;
}

.archive {
  display: grid;
  color: $light !important;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.comment-img {
  display: block;
  text-align: center;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.article {
  padding: 1em;
  background: $symfony;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.article:nth-child(1) {
  grid-column: 1 / -1;
  background: $symfony
}

.article:nth-child(1)>hr:first-child {
  padding-bottom: 30%
}

.article:nth-child(1)>hr:last-child {
  margin-right: 20%;
  height: 28px
}

.article:nth-child(8) {
  grid-column: -3 / -1;
  background: rgba(255, 200, 255, 0.3)
}

.article:nth-child(12) {
  grid-column: 1 / -2;
  background: rgba(255, 200, 255, 0.3)
}

.article:nth-child(12)>hr:first-child {
  padding-bottom: 30%
}

.article:after {
  color: #808;
  font-weight: bold;
  font-family: courier;
}

@media (max-width: 680px) {
  .archive {
    display: flex;
    flex-direction: column;
  }

  .article {
    margin-bottom: 1em;
  }
}