{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="mb-5 hide">{{ 'Categories'|trans }}</h2>
	<div class="neon-text h1">
		<span class="letter">C</span>
		<span class="letter">a</span>
		<span class="letter letter-2">t</span>
		<span class="letter">e</span>
		<span class="letter">g</span>
		<span class="letter">o</span>
		<span class="letter">r</span>
		<span class="letter">i</span>
		<span class="letter">e</span>
		<span class="letter letter-3">s</span>
	</div>

		{% for row in tags|batch(8) %}
			<div class="container py-4">
				{% for tag in row %}
					<h4>{{ tag.name }}</h4>
				{% endfor %}
			</div>
		{% endfor %}

{% endblock %}
