{% extends 'base.html.twig' %}

{% block title %}Theme{% endblock %}

{% block body %}
	<h2>Give your feedback!</h2>

	{% for theme in themes %}
		<h4>{{ theme }}</h4>
        <p>
            <a href="{{ path('theme', { slug: theme.slug }) }}">View</a>
        </p>
	{% endfor %}
{% endblock %}
