{% extends 'base.html.twig' %}

{% set page = false %}

{% block body %}
	<h1>Page not found</h1>

	<p>
		The requested page couldn't be located. Checkout for any URL misspelling or
		<a class="bold" href="{{ path('homepage') }}">return to the light</a>.
	</p>

	<div class="neon-text status-code text-center mb-4">
		<span class="letter">4</span>
		<span class="letter letter-3">0</span>
		<span class="letter letter-2">4</span>
	</div>
{% endblock %}
